.slider {
  box-sizing: content-box;
  margin: 20px 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar,
.slider-seek::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-color: black;
}

.slide img,
.slide video {
  height: 100%;
}
